body{
background-image: url(https://img.freepik.com/free-vector/restaurant-menu-template-with-photo_52683-19022.jpg?t=st=1651359575~exp=1651360175~hmac=27dce5b5a48ba671f83a700b36c8f504dfd2483a1863c951a7289cb8bad1f738&w=740);
}

.cabecera{
    text-align: center;
}
.titulo1{
    background-color: rgb(44, 42, 42);
    color: rgb(255, 255, 255);
    font-family: 'roboto';
    font-size: 40px;
    font-weight: 40px;
    padding:10px 0px;
    margin: 0px;

}
.titulo11{
    color: rgb(255, 255, 255);
    font-family: 'roboto';
    font-size: 40px;
    font-weight: 40px;
}
.links{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Arial';
    background-color:rgb(44, 42, 42);
    border-end-end-radius: 15px ;
    border-end-start-radius: 15px;
}
.enlaceb{
    font-size: 25px;
    margin:20px;
    font-family:verdana;

}
.titulo2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 5px;
    padding: 10px;
}

.footer{
    background-color:rgb(44,42,42);
}
.parrafo1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'roboto';
    font-size: 25px;
    border-radius: 3cm;
    background-color: rgb(148, 133, 87);
    margin: 5px;
}
.parrafo2{
    background-color: rgb(44,42,42);
    text-align: center;
    font-family: 'roboto';
    font-size: 30px;
}
.enlacec{
    background-color: rgb(44,42,42);
    font-size:30px;
}
.parrafo3{
    text-align: left;
    font-size: 30px;
    margin: 0px;
}
.titulo3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'roboto';
    font-size: 40px;
    font-weight: 40px;
}
.parrafo4{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'roboto';
    font-size: 25px;
}
.menu{
    
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Arial';
    margin: 40px;
    padding: 0px;
    font-weight: 600;
    column-count: 3;
    column-gap: 20px;
    column-rule: 4px double rgb(255, 255, 255);
    list-style: none;
}
.men{
    background-color: rgb(148, 133, 87);
    border-radius: 3cm;
}
.menu2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Arial';
    margin: 40px;
    padding: 0px;
    font-weight: 600;
}
.men2{
    background-color: rgb(148, 133, 87);
    border-radius: 3cm;
}
.comidas{
    column-count: 3;
    column-gap: 20px;
    column-rule: 4px double rgb(255, 255, 255);
    list-style: none;
    margin: 20px;
}
